.qa-wrap {
  padding: 0 2rem 0;
  margin-block-end: 2rem;
  padding-block-end: 1rem;
  margin-block-start: 2rem;
  padding-block-start: 1rem;
  border-inline-start-color: #0072A3;
  border-inline-start-style: solid;
  border-inline-start-width: 0.1875rem;
}

.qa-wrap .qa-question {
  font-weight: bold;
  border-block-end: 0.125rem solid #E9E9EC;
  margin-block-end: 1rem;
  padding-block-end: 1rem;
}
