<!-- wp:template-part {"slug":"header","tagName":"header","className":"tw-site-header","style":{"color":{"text":"#fff"}}} /-->

<!-- wp:group {"tagName":"main"} -->
  <main class="wp-block-group">
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"className":"tw-post-featured-header"} -->
      <div
        class="wp-block-group tw-post-featured-header"
        style="
          padding-top: var(--wp--preset--spacing--30);
          padding-bottom: var(--wp--preset--spacing--30);
        "
      >
        <!-- wp:post-featured-image {"className":"tw-post-featured-image"} /-->

        <!-- wp:group {"textColor":"base","className":"tw-post-feature-meta","layout":{"type":"constrained"}} -->
          <div
            class="wp-block-group tw-post-feature-meta has-base-color has-text-color"
          >
            <!-- wp:post-title {"level":1} /-->
          </div>
        <!-- /wp:group -->
      </div>
    <!-- /wp:group -->

    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
  </main>
<!-- /wp:group -->
