/* Adjust full width block size when sidebar is open. */
@media (min-width: 782px) {
  .is-sidebar-opened
    .block-editor-block-list__layout.is-root-container
    > .block-editor-block-list__block.wp-block:is(.alignfull, .alignwide) {
    width: calc(var(--_full-width, 100vw) - 280px);
  }
}

/* Hide toolbar button: Crop. */
/* Image crop tool will result in images being served from WordPress server. */
/* Until thiis tool can be disabled at a configuration level, use CSS to hide button. */
.components-toolbar-button[aria-label="Crop"] {
  display: none;
}

.components-base-control__help dt {
  font-weight: bold;
}
.components-base-control__help dd {
  margin-inline-start: 1rem;
}
