body {
  --_editor--content--width: 600px;
  --_editor--content--gutter: 4rem;
  --_editor--color--muted: #535355;
  container-type: inline-size;
  container-name: editor-content;
}

.wp-block-post-content {
  display: block;
  box-sizing: border-box;
  max-width: var(--_editor--content--width);
  margin-inline: auto;
  padding-inline: var(--_editor--content--gutter);
  padding-block-end: 2rem;
}

.wp-block-post-content > * + * {
  margin-block-start: 1.75em !important;
}
.wp-block-post-content > *:not(.alignleft, .alignright) {
  margin-block-end: 0 !important;
}

.block-editor-block-list__layout.is-root-container > .wp-block-image img {
  width: 100%;
}

.block-editor-block-list__layout.is-root-container
  > .wp-block:where(.alignwide, .alignfull) {
  position: relative;
  left: 50%;
  translate: -50% 0;
  width: 100vw;
}
.block-editor-block-list__layout.is-root-container > .wp-block:is(.alignwide) {
  max-width: var(--_editor--content--width);
}
.block-editor-block-list__layout.is-root-container
  > .wp-block:where(.alignleft, .alignright) {
  float: none;
  width: 100%;
  max-width: calc(100% - (var(--_editor--content--gutter) * 2));
  margin-inline: auto !important;
}
.block-editor-block-list__layout.is-root-container
  > .wp-block:where(.aligncenter) {
  width: 100%;
  max-width: calc(100% - (var(--_editor--content--gutter) * 2));
  text-align: left;
}

.block-editor-block-list__layout.is-root-container
  > .wp-block
  > :where(.wp-block-embed),
.block-editor-block-list__layout.is-root-container
  > .wp-block:where(.wp-block-image) {
  isolation: isolate;
  display: grid;
  grid-template-columns:
    [full-width-start] 0 [content-start] var(--_editor--embed--width, 1fr)
    [content-end] 0 [full-width-end];
  grid-template-rows: [content-start] 1fr [content-end];
  row-gap: 0.5rem;
  justify-content: space-between;
  margin: 0;
}
.block-editor-block-list__layout.is-root-container
  > .wp-block
  > :where(.wp-block-embed):has(.wp-element-caption),
.block-editor-block-list__layout.is-root-container
  > .wp-block:where(.wp-block-image):has(.wp-element-caption) {
  grid-template-rows: [content-start] 1fr [content-end caption-start] min-content [caption-end];
}
.block-editor-block-list__layout.is-root-container
  > .wp-block
  > :where(.wp-block-embed)
  > *,
.block-editor-block-list__layout.is-root-container
  > .wp-block:where(.wp-block-image)
  > * {
  grid-column: content;
}

.block-editor-block-list__layout.is-root-container
  > .wp-block:where(:not(.alignleft), :not(.alignright))
  > :where(.wp-block-embed:not(.tw-dataviz))::after {
  --_dot--size: var(--_editor--embed--backdrop--dot--size, 2px);
  --_dot--spacing: var(--_editor--embed--backdrop--dot--spacing, 32px);
  --_dot--color: var(--_editor--embed--backdrop--dot--color, #e0e0e0);
  --_background-color: var(
    --_editor--embed--backdrop--background-color,
    #fafafa
  );
  --_border-color: var(
    --_editor--embed--backdrop--border-color,
    var(--_dot--color)
  );

  content: "";
  align-self: center;
  grid-column: full-width;
  grid-row: content;
  height: calc(100% - 2rem);
  z-index: -1;
  border: 1px solid var(--_border-color);
  background-color: var(--_background-color);
  background-image: radial-gradient(
      #e0e0e0 var(--_dot--size),
      transparent var(--_dot--size)
    ),
    radial-gradient(#e0e0e0 var(--_dot--size), transparent var(--_dot--size));
  background-size: var(--_dot--spacing) var(--_dot--spacing);
  background-position: 0 0,
    calc(var(--_dot--spacing) / 2) calc(var(--_dot--spacing) / 2);
}
.block-editor-block-list__layout.is-root-container
  > .wp-block:not(.alignfull)
  > :where(.wp-block-embed)::after {
  border-radius: 1ch;
}

.block-editor-block-list__layout.is-root-container
  > .wp-block-embed.tw-dataviz.is-selected {
  box-shadow: 0 0.25rem 1rem hsl(0 0% 0% / 0.4),
    0 0.25rem 0.5rem hsl(0 0% 0% / 0.3);
}

.block-editor-block-list__layout.is-root-container
  > .wp-block:where(.wp-block-embed)
  :where(.wp-block-embed__wrapper),
.block-editor-block-list__layout.is-root-container
  > .wp-block:where(.wp-block-image)
  > :first-child {
  grid-row: content;
  width: 100%;
  line-height: 0;
}

.block-editor-block-list__layout.is-root-container
  > .wp-block:where(.wp-block-embed, .wp-block-image)
  :where(.wp-element-caption) {
  grid-column: full-width;
  grid-row: caption;
  justify-self: center;
  color: var(--_editor--color--muted);
  font-size: 0.9rem;
  margin: 0;
  padding-inline: 1ch;
}
.block-editor-block-list__layout.is-root-container
  > .wp-block:where(.alignwide, .alignfull)
  :where(.wp-element-caption) {
  max-width: var(--_editor--content--width);
  padding-inline: var(--_editor--content--gutter);
}
.block-editor-block-list__layout.is-root-container
  > .wp-block-image
  > :where(.wp-element-caption) {
  width: 100%;
}

.block-editor-block-list__layout.is-root-container
  > :where(.wp-block-pullquote) {
  color: var(--wp--preset--color--blue-900);
  font-family: var(--wp--preset--font-family--system-serif);
  border-color: var(--_editor--color--muted);
  text-wrap: balance;
}
.block-editor-block-list__layout.is-root-container
  > :where(.wp-block-pullquote):where(.alignleft, .alignright) {
  max-width: none;
  padding-block: 1.5rem;
}
.block-editor-block-list__layout.is-root-container
  > :where(.wp-block-pullquote)
  > blockquote {
  max-width: var(--_editor--content--width);
  margin-inline: auto;
}
.block-editor-block-list__layout.is-root-container
  > :where(.wp-block-pullquote)
  > blockquote
  > * {
  white-space: unset !important;
}
.block-editor-block-list__layout.is-root-container
  > :where(.wp-block-pullquote)
  cite {
  color: var(--_editor--color--muted);
}
.block-editor-block-list__layout.is-root-container
  > :where(.wp-block-pullquote)
  cite::before {
  content: "-";
  margin-inline-end: 1ch;
}

.block-editor-block-list__layout.is-root-container
  > .wp-block-embed[data-title="Twitter"]:where(.alignleft, .alignright) {
  min-width: 300px;
}

.block-editor-block-list__layout.is-root-container
  > .wp-block-embed[data-title="Twitter"]:not(.alignleft, .alignright) {
  --_editor--embed--width: 550px;
}

.block-editor-block-list__layout.is-root-container
  > .wp-block-embed[data-title="Twitter"]:not(.alignleft, .alignright)
  figcaption {
  padding-inline: 1rem;
}

.block-editor-block-list__layout.is-root-container
  > .wp-block-embed[data-title="TikTok"] {
  --_editor--embed--width: 325px;
}

.block-editor-block-list__layout.is-root-container
  > .wp-block-embed[data-title="TikTok"]:where(.alignwide, .alignfull)
  > .wp-block-embed:not(.components-placeholder) {
  --_editor--content--gutter: 0;
}

.block-editor-block-list__layout.is-root-container
  > .wp-block-embed[data-title="TikTok"]:is(.alignleft, .alignright) {
  width: fit-content;
}

.block-editor-block-list__layout.is-root-container
  > .wp-block-embed[data-title="Spotify"]:is(.alignwide, .alignfull) {
  --_full-width: calc(100vw - var(--_editor--content--gutter));
}

.block-editor-block-list__layout.is-root-container
  > .wp-block-embed:where(.wp-has-aspect-ratio.wp-embed-aspect-9-16)
  > .wp-block-embed
  > .wp-block-embed__wrapper {
  justify-self: center;
  max-width: calc(80vh * (9 / 16));
}

.block-editor-block-list__layout.is-root-container
  > .wp-block-embed[data-title="YouTube"]
  .wp-embed-aspect-9-16
  iframe {
  border-radius: 1ch;
}

.block-editor-block-list__block.wp-block-separator {
  padding: 0;
}
.block-editor-block-list__block.wp-block-separator.is-style-wide {
  border-width: 2px;
}
.block-editor-block-list__block.wp-block-separator.is-style-dots {
  text-align: center;
}

@container editor-content (min-width: 960px) {
  .wp-block-post-content {
    --_editor--content--width: 960px;
  }

  .block-editor-block-list__layout.is-root-container
    > .wp-block:is(.alignleft, .alignright) {
    width: 33%;
    margin-block-end: 1rem !important;
  }
  .block-editor-block-list__layout.is-root-container
    > .wp-block:is(.alignleft) {
    float: left;
    margin-inline-start: calc(var(--_editor--content--gutter) * -1) !important;
    margin-inline-end: 2rem !important;
  }
  .block-editor-block-list__layout.is-root-container
    > .wp-block:is(.alignright) {
    float: right;
    margin-inline-start: 2rem !important;
    margin-inline-end: calc(var(--_editor--content--gutter) * -1) !important;
  }
}
