body {
  --_editor--content--width: 600px;
  --_editor--content--gutter: 4rem;
  --_editor--color--muted: #535355;
  container-type: inline-size;
  container-name: editor-content;
}

.wp-block-post-content {
  display: block;
  box-sizing: border-box;
  max-width: var(--_editor--content--width);
  margin-inline: auto;
  padding-inline: var(--_editor--content--gutter);
  padding-block-end: 2rem;
}

.wp-block-post-content > * + * {
  margin-block-start: 1.75rem !important;
}
.wp-block-post-content > * + *:not(.alignleft, .alignright) {
  margin-block-end: 0 !important;
}

.block-editor-block-list__layout.is-root-container
  > .wp-block:where(.alignwide, .alignfull) {
  position: relative;
  left: 50%;
  translate: -50% 0;
  width: 100vw;
}
.block-editor-block-list__layout.is-root-container > .wp-block:is(.alignwide) {
  max-width: var(--_editor--content--width);
}
.block-editor-block-list__layout.is-root-container
  > .wp-block:where(.alignleft, .alignright) {
  float: none;
  width: 100%;
  max-width: calc(100% - (var(--_editor--content--gutter) * 2));
  margin-inline: auto !important;
}
.block-editor-block-list__layout.is-root-container
  > .wp-block:where(.aligncenter) {
  width: 100%;
  max-width: calc(100% - (var(--_editor--content--gutter) * 2));
  text-align: left;
}

.block-editor-block-list__layout.is-root-container > .wp-block figcaption {
  display: block;
  color: var(--_editor--color--muted);
  font-size: 0.9rem;
}
.block-editor-block-list__layout.is-root-container
  > .wp-block:where(.alignwide, .alignfull)
  figcaption {
  box-sizing: border-box;
  max-width: var(--_editor--content--width);
  margin-inline: auto;
  padding-inline: var(--_editor--content--gutter);
}

.block-editor-block-list__layout.is-root-container
  > :where(.wp-block-pullquote) {
  color: var(--wp--preset--color--blue-900);
  font-family: var(--wp--preset--font-family--system-serif);
  border-color: var(--_editor--color--muted);
  text-wrap: balance;
}
.block-editor-block-list__layout.is-root-container
  > :where(.wp-block-pullquote):where(.alignleft, .alignright) {
  max-width: none;
  padding-block: 1.5rem;
}
.block-editor-block-list__layout.is-root-container
  > :where(.wp-block-pullquote)
  > blockquote {
  max-width: var(--_editor--content--width);
  margin-inline: auto;
}
.block-editor-block-list__layout.is-root-container
  > :where(.wp-block-pullquote)
  > blockquote
  > * {
  white-space: unset !important;
}
.block-editor-block-list__layout.is-root-container
  > :where(.wp-block-pullquote)
  cite {
  color: var(--_editor--color--muted);
}
.block-editor-block-list__layout.is-root-container
  > :where(.wp-block-pullquote)
  cite::before {
  content: "-";
  margin-inline-end: 1ch;
}

.block-editor-block-list__layout.is-root-container
  > .wp-block-embed[data-title="Twitter"]:not(.alignleft, .alignright) {
  left: unset;
  translate: unset;
  width: auto;
  max-width: 550px;
  margin-inline: auto;
}

.block-editor-block-list__layout.is-root-container
  > .wp-block-embed[data-title="Twitter"]:not(.alignleft, .alignright)
  figcaption {
  padding-inline: 1rem;
}

.block-editor-block-list__layout.is-root-container
  > .wp-block-embed[data-title="TikTok"]:is(.alignleft, .alignright) {
  width: 325px;
}

.block-editor-block-list__layout.is-root-container
  > .wp-block-embed[data-title="Spotify"]:is(.alignwide, .alignfull) {
  --_full-width: calc(100vw - var(--_editor--content--gutter));
}

.block-editor-block-list__layout.is-root-container
  > .wp-block-embed.wp-has-aspect-ratio:where(.wp-embed-aspect-9-16)
  > figure:where(.is-type-video) {
  max-width: calc(80vh * (9 / 16));
  margin-inline: auto;
}

.block-editor-block-list__layout.is-root-container
  > .wp-block-embed[data-title="YouTube"]
  .wp-embed-aspect-9-16
  iframe {
  border-radius: 1ch;
}

.block-editor-block-list__block.wp-block-separator {
  padding: 0;
}
.block-editor-block-list__block.wp-block-separator.is-style-wide {
  border-width: 2px;
}
.block-editor-block-list__block.wp-block-separator.is-style-dots {
  text-align: center;
}

@container editor-content (min-width: 960px) {
  .wp-block-post-content {
    --_editor--content--width: 960px;
  }

  .block-editor-block-list__layout.is-root-container
    > .wp-block:is(.alignleft, .alignright) {
    width: 33%;
    margin-block-end: 2rem !important;
  }
  .block-editor-block-list__layout.is-root-container
    > .wp-block:is(.alignleft) {
    float: left;
    margin-inline-start: calc(var(--_editor--content--gutter) * -1) !important;
    margin-inline-end: 2rem !important;
  }
  .block-editor-block-list__layout.is-root-container
    > .wp-block:is(.alignright) {
    float: right;
    margin-inline-start: 2rem !important;
    margin-inline-end: calc(var(--_editor--content--gutter) * -1) !important;
  }
}
